*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #121212;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;

}
.todo-container{
    background: #1e1e1e;
    padding: 25px;
    width:320px;
    border-radius:10px;
    color: #fff;
}
h1{
    text-align: center;
    margin-bottom: 15px;

}
.input-section{
    display:flex;
    gap:10px;

}
input{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;

}
button{
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;

}
.input-section button {
    background: #ff9500;
    color: #000;

}
ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;

}
li{
    background: #333;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;


}
li.completed{
    text-decoration: line-through;
    opacity: 0.6;

}
.task-button button{
    margin-left: 5px;
    font-size: 14px;

}
.complete-btn{
    background: #34c759;

}
.delete-btn {
    background: #e74c3c;
    color: #fff;

}
.clear-btn{
    width: 100%;
    margin-top: 10px;
    background: #555;
    color: #fff;

}
